.list-page {
}
body{
  margin: 0;
  width: 100%;
}
#div1{
  height: 30px;
  min-width: 40%;
  float: left;
}
#div2{
  width:30%;
}
.listTripsButtons{
  width: 30px !important;
  font-size: 30px !important;
}
.listTripsButtons.likeButton{
  background-color: #2ec95c;
}
.listTripsButtons.dislikeButton{
  background-color: #f30d0d !important;
}
.listTripsButtons.rateButton{
  background-color: yellow !important;
}
.listTripsButtons.wantToVisit{
  background-color: blue !important
}
