page-trip {

.map-container {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

  .goldStar{
    color:gold;
    width: 30px;
    height: 30px;
  }
  .halfStar{
    color:gold;
    width: 30px;
    height: 30px;
  }
  .noStar{
    color:transparent;
    width: 30px;
    height: 30px;
  }
  .noStar.halfStar{
    color:gold;
    width: 30px;
    height: 30px;
  }

}
