page-list-liked-pois {
}
#main{
  margin: 0;
  width: 70%;
}
#div1{
  height: 30px;
  min-width: 40%;
  float: left;
}
#div2{
  width:30%;
}
.likedPoisButtons{
  width: 30px !important;
  font-size: 30px !important;
}
.likedPoisButtons.likeIsNot{
  background-color: red;
}
