<ion-header>

  <ion-toolbar>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-buttons>
        <button ion-button icon-only ownTrips (click)="loadTrips()">
          <ion-icon name="contact"></ion-icon>
        </button>

        <button ion-button icon-only allTrips (click)="loadAllTrips()">
          <ion-icon name="contacts"></ion-icon>
        </button>

      </ion-buttons>


    </ion-navbar>


    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="addTrip()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center">TRIPs I like</h2>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list >
   <div *ngFor="let item of searchItems">

        <div id="main" *ngIf="item.liked">

            <div id="div1">
              <button ion-item (click)="itemTapped($event, item._id)">
                <i class="fa ion-ios-happy" style="color: greenyellow" aria-hidden="true"></i>
                {{item.name }}
              </button>
            </div>

            <div id="div2">
              <button type="submit" style="width: 30px !important; background-color: #f30d0d !important;"
                      class="dislikeButton" ion-button icon-only likeDislike  (click)="dislikeTrip(item._id,false)">
                <i class="fa ion-ios-sad" aria-hidden="true"></i>
              </button>

              <button type="submit" style="width: 30px !important; background-color: yellow !important;"
                      class="rateButton" ion-button icon-only rate  (click)="rateTrip(item._id,item.name)">
                <i class="fa ion-ios-star" aria-hidden="true"></i>
              </button>
            </div>

        </div>

   </div>


  </ion-list>



</ion-content>
