<!--
  Generated template for the ListRatedTrips page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons>
        <button ion-button icon-only ownTrips (click)="loadTrips()">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only color="danger" (click)=logout()>
        <ion-icon name="log-out"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="addTrip()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center">My Trip Ratings</h2>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list >
    <div *ngFor="let item of searchItems">
      <div id="main" *ngIf="item.rating">
        <div id="div1">
          <button ion-item (click)="itemTapped($event, item._id)">
            <i class="fa ion-ios-happy" style="color: greenyellow" aria-hidden="true"></i>
            {{item.name }}
            </button>
        </div>
        <div id="div2">
          <button type="submit" class="ratedTripsButtons rateButton" ion-button icon-only rate  (click)="rateTrip(item._id,item.name,item.rating)">
            <i class="
            {{item.rating==1?'goldStar':''}}
            {{item.rating==2?'goldStar':''}}
            {{item.rating==3?'goldStar':''}}
            {{item.rating==4?'goldStar':''}}
            {{item.rating==5?'goldStar':''}}
             fa ion-ios-star" aria-hidden="true"></i>
            <i class="
            {{item.rating==2?'goldStar':''}}
            {{item.rating==3?'goldStar':''}}
            {{item.rating==4?'goldStar':''}}
            {{item.rating==5?'goldStar':''}}
            starTwo fa ion-ios-star" aria-hidden="true"></i>
            <i class="
            {{item.rating==3?'goldStar':''}}
            {{item.rating==4?'goldStar':''}}
            {{item.rating==5?'goldStar':''}}
            starTree fa ion-ios-star" aria-hidden="true"></i>
            <i class=" {{item.rating==4?'goldStar':''}} {{item.rating==5?'goldStar':''}}
            starFour fa ion-ios-star" aria-hidden="true"></i>
            <i class=" {{item.rating==5?'goldStar':''}} starFive fa ion-ios-star" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
