page-list-rated-trips {

}
body{
  margin: 0;
  width: 100%;
}
#main{
  width: 70%;
  white-space: nowrap;
}
#div1{
  height: 30px;
  width:  80%;
}
#div2_list{
  width: auto;
}
.ratedTripsButtons{
  background: transparent;
}
.ratedTripsButtons i{
  font-size: 30px;
  color:lightgrey;
}
.ratedTripsButtons i.goldStar{
  color:gold !important;
}

