page-list-rated-trips {

}
body{
  margin: 0;
  width: 100%;
}
#main{
  width: 70%;
  white-space: nowrap;
}
#div1{
  height: 30px;
  width:  80%;
}
#div2_list{
  width: auto;
}
.likedTripsButtons{
  width: 30px !important;
  font-size: 30px !important;
}
.likedTripsButtons.dislikeButton{
  background-color: #f30d0d !important;
}
.likedTripsButtons.rateButton{
  background-color: yellow !important;
}
